# Adds blobstore benchmark errand for storage-cli

- type: replace
  path: /instance_groups/-
  value:
    name: blobstore-benchmark-storage-cli
    instances: 1
    azs: [z1]
    networks:
      - name: default
    vm_type: default
    stemcell: default
    lifecycle: errand
    jobs:
      - name: blobstore_benchmark
        release: capi
        properties:
          blobstore_benchmark:
            mode: storage-cli
            cc_overrides:
              db_logging_level: error
              logging_level: error
              log_db_queries: false
              db:
                log_level: error
                log_db_queries: false


