# Adds blobstore benchmark fog errand with per-mode overrides

- type: replace
  path: /instance_groups/-
  value:
    name: blobstore-benchmark-fog
    instances: 1
    azs: [z1]
    networks:
      - name: default
    vm_type: default
    stemcell: default
    lifecycle: errand
    jobs:
      - name: blobstore_benchmark
        release: capi
        properties:
          blobstore_benchmark:
            mode: fog
            cc_overrides:
              db_logging_level: error
              logging_level: error
              log_db_queries: false
              db:
                log_level: error
                log_db_queries: false
              buildpacks:
                blobstore_type: fog
                fog_connection:
                  provider: AzureRM
                  environment: AzureCloud
                  azure_storage_account_name: ((blobstore_storage_account_name))
                  azure_storage_access_key: ((blobstore_storage_access_key))
              droplets:
                blobstore_type: fog
                fog_connection:
                  provider: AzureRM
                  environment: AzureCloud
                  azure_storage_account_name: ((blobstore_storage_account_name))
                  azure_storage_access_key: ((blobstore_storage_access_key))
              packages:
                blobstore_type: fog
                fog_connection:
                  provider: AzureRM
                  environment: AzureCloud
                  azure_storage_account_name: ((blobstore_storage_account_name))
                  azure_storage_access_key: ((blobstore_storage_access_key))
              resource_pool:
                blobstore_type: fog
                fog_connection:
                  provider: AzureRM
                  environment: AzureCloud
                  azure_storage_account_name: ((blobstore_storage_account_name))
                  azure_storage_access_key: ((blobstore_storage_access_key))
