# Adds blobstore benchmark fog errand for s3 with per-mode overrides

- type: replace
  path: /instance_groups/-
  value:
    name: blobstore-benchmark-fog
    instances: 1
    azs: [z1]
    networks:
      - name: default
    vm_type: default
    stemcell: default
    lifecycle: errand
    jobs:
      - name: blobstore_benchmark
        release: capi
        properties:
          blobstore_benchmark:
            mode: fog
            cc_overrides:
              db_logging_level: error
              logging_level: error
              log_db_queries: false
              db:
                log_level: error
                log_db_queries: false

