# Adds blobstore benchmark fog errand for s3 with per-mode overrides

- type: replace
  path: /instance_groups/-
  value:
    name: blobstore-benchmark-fog
    instances: 1
    azs: [z1]
    networks:
      - name: default
    vm_type: default
    stemcell: default
    lifecycle: errand
    jobs:
      - name: blobstore_benchmark
        release: capi
        properties:
          blobstore_benchmark:
            mode: fog
            cc_overrides:
              db_logging_level: error
              logging_level: error
              log_db_queries: false
              db:
                log_level: error
                log_db_queries: false
              buildpacks:
                blobstore_type: fog
                fog_connection:
                  provider: AWS
                  aws_access_key_id: ((blobstore_access_key_id))
                  aws_secret_access_key: ((blobstore_secret_access_key))
                  region: ((aws_region))
              droplets:
                blobstore_type: fog
                fog_connection:
                  provider: AWS
                  aws_access_key_id: ((blobstore_access_key_id))
                  aws_secret_access_key: ((blobstore_secret_access_key))
                  region: ((aws_region))
              packages:
                blobstore_type: fog
                fog_connection:
                  provider: AWS
                  aws_access_key_id: ((blobstore_access_key_id))
                  aws_secret_access_key: ((blobstore_secret_access_key))
                  region: ((aws_region))
              resource_pool:
                blobstore_type: fog
                fog_connection:
                  provider: AWS
                  aws_access_key_id: ((blobstore_access_key_id))
                  aws_secret_access_key: ((blobstore_secret_access_key))
                  region: ((aws_region))
