# Adds blobstore benchmark fog errand for gcs with per-mode overrides

- type: replace
  path: /instance_groups/-
  value:
    name: blobstore-benchmark-fog
    instances: 1
    azs: [z1]
    networks:
      - name: default
    vm_type: default
    stemcell: default
    lifecycle: errand
    jobs:
      - name: blobstore_benchmark
        release: capi
        properties:
          blobstore_benchmark:
            mode: fog
            cc_overrides:
              db_logging_level: error
              logging_level: error
              log_db_queries: false
              db:
                log_level: error
                log_db_queries: false
              buildpacks:
                blobstore_type: fog
                fog_connection:
                  provider: Google
                  bucket_name: ((buildpack_directory_key))
                  google_project: ((gcs_project))
                  google_client_email: ((gcs_service_account_email))
                  google_json_key_string: ((gcs_service_account_json_key))
              droplets:
                blobstore_type: fog
                fog_connection:
                  provider: Google
                  bucket_name: ((droplet_directory_key))
                  google_project: ((gcs_project))
                  google_client_email: ((gcs_service_account_email))
                  google_json_key_string: ((gcs_service_account_json_key))
              packages:
                blobstore_type: fog
                fog_connection:
                  provider: Google
                  bucket_name: ((app_package_directory_key))
                  google_project: ((gcs_project))
                  google_client_email: ((gcs_service_account_email))
                  google_json_key_string: ((gcs_service_account_json_key))
              resource_pool:
                blobstore_type: fog
                fog_connection:
                  provider: Google
                  bucket_name: ((resource_directory_key))
                  google_project: ((gcs_project))
                  google_client_email: ((gcs_service_account_email))
                  google_json_key_string: ((gcs_service_account_json_key))
